<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin name="hide_express_checkout" type="Twint\MagentoHyva\Plugin\HideExpressCheckout" />
    </type>
    <type name="Twint\Magento\Block\Frontend\Express\Button">
        <plugin name="hide_default_express_checkout_button" type="Twint\MagentoHyva\Plugin\HideDefaultExpressCheckoutButton" />
    </type>

    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="twint_regular" xsi:type="object">Twint\MagentoHyva\Magewire\Payment\PlaceOrderService\TwintRegularCheckoutService</item>
            </argument>
        </arguments>
    </type>
</config>
