#tw-copy {
    border: 1px solid;
}

#qr-token {
    width: 80% !important;
}

#twint-modal-content-box {
    height: 100%;
    width: 100%;
}

.twint .tw-close {
    border: none !important;
    background-color: inherit !important;
    color: #262626 !important;
    display: flex !important;
    align-items: baseline !important;
    vertical-align: middle !important;
    font-weight: 400 !important;
    box-shadow: none !important;
}

@media (orientation: portrait) and (max-device-width: 640px) {
    .twint.twint-modal-content-box {
        height: 100vh;
        width: 100%;
    }
}

@media (orientation: landscape) and (max-device-width: 1024px) {
    .twint.twint-modal-content-box {
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-device-width: 769px) {
    #twint-amount {
        font-size: 1.2rem;
    }

    .qr-token:has(#qr-token) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (min-width: 1024px) {
    #twint-modal-content-box {
        height: fit-content;
        width: 800px;
    }
}

.item.product.product-item.product_addtocart_form:has(.tw-button) {
    padding-bottom: 85px;
    position: relative;
}

.tw-button-wrapper.plp:has(.tw-button) {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
}

div:has(> .tw-button-wrapper.pdp) {
    flex-wrap: wrap;
    justify-content: end;
    row-gap: 0.5rem;
}
